WebContent/data/residence.dtd.txt

<!--
<accommodations>
	<Swanbourgh>
		<on_campus>yes</on_campus>
		<desc>Situated in a central position on the campus opposite Bramber House, this new development consists of a number of self-contained cluster flats housing between 4 and 7 students. Four rooms have been specifically designed for students with a physical disability. Each flat has its own kitchen/dining room/lounge area and all rooms have ensuite bathrooms.</desc>
    		<handbook>http://www.sussex.ac.uk/residentialservices/documents/swanborough_handbook_10-11_proof_41.pdf</handbook>
    		<tenancy>40 weeks</tenancy>
    		<rent>£120.50 per week</rent>
    		<roomtype>en-suite</roomtype>
    		<allocated_to>Undergraduates</allocated_to>
    		<image>Swanborough1.jpg</image>
    		<image>Swanborough2.jpg</image>
  	</Swangourgh>
</accommodations>
-->
<!ELEMENT accommodations (Swanbourgh)>
<!ELEMENT Swanbourgh (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT Brighthelm (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT East_Slope (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT Stanmer_Court (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT Lewes_Court (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT Park_Houses (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT ParkVillage (on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT Kings_Road(on_campus, desc, handbook, tenancy, rent, roomtype, allocated_to, image, image)>
<!ELEMENT on_campus (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT handbook (#PCDATA)>
<!ELEMENT tenancy (#PCDATA)>
<!ELEMENT rent (#PCDATA)>
<!ELEMENT roomtype (#PCDATA)>
<!ELEMENT allocated_to (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT image (#PCDATA)>
